.table.ew-table.table-head-fixed thead tr:nth-child(1) th {
    box-shadow: none;
    outline: 0; 
    outline-offset: 0;
}

.nav-legacy {
  margin: 0 -0.5rem 0;
}

.btn:focus,.btn.btn-primary.ew-btn:focus,.btn:active,.btn.btn-primary.ew-btn:active, .swal2-confirm.btn.btn-primary.ew-swal2-confirm-button.swal2-styled:focus,.swal2-cancel.btn.btn-secondary.ew-swal2-cancel-button.swal2-styled:focus,select.form-select.form-select-sm.ew-tooltip:focus, input.form-control:focus, input.form-control:active, span.select2-selection.select2-selection--single:focus, span.select2-selection.select2-selection--single:active, textarea.form-control:focus, span.select2-selection.select2-selection--multiple, select.form-select.form-control:focus {
   outline: none !important;
   box-shadow: none !important;
   border-radius: 0;
}

.swal2-confirm.btn.btn-primary.ew-swal2-confirm-button.swal2-styled,
.swal2-cancel.btn.btn-secondary.ew-swal2-cancel-button.swal2-styled,
.btn.btn-primary.ew-btn.ew-submit,
.btn.btn-default.ew-btn,
.form-control:not(.form-control-navbar):not(.form-control-sidebar):not(.is-invalid):not(:focus), 
.custom-file-label, 
.custom-file-label::after,
.select2-container--bootstrap5 .select2-selection,
.btn.btn-default,
.form-select.form-select-sm,
.btn.btn-primary
.btn.btn-default.ew-toggle-password.rounded-end,
.form-control.form-control-sidebar,
.btn,
.card,
.modal,
[data-bs-theme=dark] .modal,
.dropdown-menu,
.dropdown-menu.ew-dropdown-menu.ew-list-options {
	border-radius: 0;
}

.ew-select, .select2-container {
	min-width: 20em !important;
}

.select2-container--bootstrap5 .select2-search--dropdown .select2-search__field:focus{
	border-color:#86b7fe;
	outline:none !important;
	box-shadow: none !important;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, select.is-invalid~.select2-container--bootstrap5.select2-container--focus .select2-selection {
	border-color: #DC3545;
	box-shadow: none !important;
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option--selected, .select2-container--bootstrap5 .select2-dropdown .select2-results__option[aria-selected=true] {
    color: #fff;
    text-decoration: none;
    background-color: #0D6EFD;
}

.select2-container--bootstrap5 .select2-search--dropdown .select2-search__field {
    padding: 0.375rem 0.75rem;
    color: inherit;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option--selected.select2-results__option--highlighted, .select2-container--bootstrap5 .select2-dropdown .select2-results__option[aria-selected=true].select2-results__option--highlighted {
    color: #1e2125;
    text-decoration: none;
    background-color: #E9ECEF;
}

[data-bs-theme=dark] .select2-container--bootstrap5 .select2-dropdown .select2-results__option--selected,
[data-bs-theme=dark] .select2-container--bootstrap5 .select2-dropdown .select2-results__option[aria-selected=true] {
  color: #dedede;
  text-decoration: none;
  background-color: #6c757d;
}

[data-bs-theme=dark] .select2-dropdown {
  background-color: #212529;
  border-color: #6c757d;
  color: #a9a9a9;
}

.content-wrapper{
	background-color: #f4f5f8;
}

.show > .btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
    color: #ffffff;
    background: #5d78ff;
    border-color: #5d78ff;
}
[data-bs-theme=dark] .show > .btn.btn-default, 
[data-bs-theme=dark] .btn.btn-default.active, 
[data-bs-theme=dark] .btn.btn-default:active, 
[data-bs-theme=dark] .btn.btn-default:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #6c757d;
}

[data-bs-theme=dark] .swal2-validation-message {
    align-items: center;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0.625em;
    overflow: hidden;
    background: transparent;
    color: #dedede;
    font-size: 1em;
    font-weight: 300;
}

[data-bs-theme=dark] .select2-container--bootstrap5 .select2-selection--single .select2-selection__placeholder {
	color: #b2b2b2;
}

[data-bs-theme=dark] .select2-container--bootstrap5 .select2-selection--single {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23DEE2E6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    background-color: #6c757d;
}

[data-bs-theme=dark] body .ew-desktop-table,
[data-bs-theme=dark] body .ew-view-table, 
[data-bs-theme=dark] div.ew-custom-template {
  background-color: #343a40;
}

[data-bs-theme=dark] .alertify .ajs-header,
[data-bs-theme=dark] .alertify .ajs-handle,
[data-bs-theme=dark] .ajs-content {
	color: #a9a9a9;
}

.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 10000;
  display: none;
  cursor: pointer;
  overflow: hidden;
}
.scrollTop #scrolltop-bg {
  fill: #007bff;
}
.scrollTop #scrolltop-arrow {
  fill: white;
}
.scrollTop a:hover #scrolltop-bg {
  fill: #2990ff;
}
.scrollTop a:hover #scrolltop-arrow {
  fill: white;
}
.scrollTop a svg {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.scrollTop a svg path {
  transition: all 0.1s;
}
.scrollTop a #scrolltop-arrow {
  transform: scale(0.66);
  transform-origin: center;
}

.ms-breadcrumblinks-form{width:100%!important}
@media (min-width:576px){.ms-breadcrumblinks-box{width:550px}}

.modal-dialog-scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem); }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden; }
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto; }

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem); }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: ""; }
  .modal-dialog-centered.modal-dialog-scrollable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; }
    .modal-dialog-centered.modal-dialog-scrollable .modal-content {
      max-height: none; }
    .modal-dialog-centered.modal-dialog-scrollable::before {
      content: none; }

.nav-pills, .nav-tabs {
    margin-bottom: -1px;
}

.popover,.popover-body .tab-content{font-family:inherit}
.brand-image{margin-top:-5px;line-height:.1;max-height:30px;margin-bottom:-4px}
button:focus{outline:dotted 0;outline:-webkit-focus-ring-color auto 0}

.tab-content:not([data-bs-theme=dark]){border-top:1px solid #dedede;padding-right:10px;margin-left:0;border-left:1px solid #dedede;border-right:1px solid #dedede;border-bottom:1px solid #dedede;background-color:#fff;margin-bottom:20px}
[data-bs-theme=dark] .tab-content{border-top:1px solid #6c757d;padding-right:10px;margin-left:0;border-left:1px solid #6c757d;border-right:1px solid #6c757d;border-bottom:1px solid #6c757d;background-color:#343a40;margin-bottom:20px}

.ew-preview-container.ew-table-preview-row.expandable-body{background-color:inherit !important;min-width:500px}
[data-bs-theme=dark] .ew-preview-container{background-color:#6c757d!important;min-width:500px}

[data-bs-theme=dark] .tab-pane {background-color:#343a40!important;}

.ew-detail-pages .tab-content,.ew-multi-page .tab-content,.ew-preview .tab-content,.ew-preview-overlay .tab-content,.ew-preview-container .tab-content{margin-top:0;border-top:1px solid #dedede;background-color:#fff;width:100%!important;padding:10px}
[data-bs-theme=dark] .ew-detail-pages .tab-content, [data-bs-theme=dark] .ew-multi-page .tab-content, [data-bs-theme=dark] .ew-preview .tab-content, [data-bs-theme=dark] .ew-preview-overlay .tab-content, [data-bs-theme=dark] .ew-preview-container .tab-content{margin-top:0;border-top:1px solid #6c757d;background-color:#343a40;width:100%!important;padding:10px}

.popover-body .tab-content,.tab-content{margin-top:0;padding-left:10px;padding-bottom:10px;width:100%}
.popover{border-radius:0;background-color:#eee!important}
.bs-popover-auto[x-placement^=right] .arrow::after,.bs-popover-right .arrow::after{left:1px;border-right-color:#eee}
.popover-body .ew-grid-content,.popover-content{font-family:inherit;border-left:none!important}
.popover-body .tab-content{float:left;padding-right:10px}
.tab-content{margin-right:10px;padding-top:10px}

[data-bs-theme=dark] .ew-grid .ew-table > tbody:last-child > tr:last-child > td.ew-table-border-bottom,
[data-bs-theme=dark] .ew-grid .ew-table > tfoot > tr:last-child > td.ew-table-border-bottom,
[data-bs-theme=dark] .ew-grid .ew-table td.ew-table-last-row.ew-table-border-bottom,
[data-bs-theme=dark] .ew-grid .ew-table .ew-table-border-bottom {
  border-bottom: 1px #6c757d solid;
}

@media (min-width:576px){
  .col-form-label-add, .col-form-label-edit, .col-form-label-search{
    padding-top:calc(.375rem + 9px);padding-bottom:calc(.375rem + 1px);margin-bottom:0;font-size:inherit;line-height:1.5;text-align:right;
  }
  .col-form-label{
    padding-top:calc(.375rem + 1px);padding-bottom:calc(.375rem + 1px);margin-bottom:0;font-size:inherit;line-height:1.5;text-align:right;
  }
  .col-form-data{
    padding-top:calc(.375rem + 1px);padding-bottom:calc(.375rem + 1px);margin-bottom:0;font-size:inherit;line-height:1.5;text-align:left;
  }
}

@media (min-width: 780px) {
  .ew-pager .input-group {
    flex-wrap: nowrap;
  }
  .ew-pager .input-group > input.ew-page-no {
    width: 6em;
  }
}
@media (min-width: 476px) and (max-width: 576px) and (max-width: 768px) {
  .ew-pager .input-group {
    flex-wrap: nowrap;
  }
  .ew-pager .input-group > input.ew-page-no {
    width: 3em;
  }
}

@media (max-width: 575.98px) {
  div.small-box p {
    font-size: 1.2rem !important;
  }
}

.navbar-orange {
  background-color: #FD7E14;
}
.navbar-orange.navbar-light .form-control-navbar::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-orange.navbar-light .form-control-navbar,
.navbar-orange.navbar-light .form-control-navbar ~ .btn-navbar {
  background-color: #fa7302;
  border-color: #e16702;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-orange.navbar-light .form-control-navbar:focus::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-orange.navbar-light .form-control-navbar:focus,
.navbar-orange.navbar-light .form-control-navbar:focus ~ .btn-navbar {
  background-color: #f57102;
  border-color: #f16702 !important;
  color: white;
}

.user-panel {
  top: -4px;
}

.ms-user-card {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.5rem 0.5rem;
  width: 220px;
  min-height: 65px;
  margin-bottom: 28.5px; }
  .ms-user-card .ms-user-card-wrapper {
    left: 0;
    right: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    bottom: -32.5px;
    padding: 0 0.8rem; }
    .ms-user-card .ms-user-card-wrapper .ms-user-card-pic {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-right: 0.2rem; }
      .ms-user-card .ms-user-card-wrapper .ms-user-card-pic img {
        border-radius: 50%;
        max-height: 80px;
        max-width: 80px; }
    .ms-user-card .ms-user-card-wrapper .ms-user-card-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .ms-user-card .ms-user-card-wrapper .ms-user-card-details .ms-user-card-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        font-size: 0.8rem;
        height: 50%;
        font-weight: 500;
        padding-bottom: 0.25rem;
        color: #fff; }
      .ms-user-card .ms-user-card-wrapper .ms-user-card-details .ms-user-card-position {
        padding-top: 0.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-size: 0.8rem;
        font-weight: 400;
        color: #74788d; }

.dropdown-menu.dropdown-menu-anim {
    -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
    animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1; }
  .dropup .dropdown-menu.dropdown-menu-anim,
  .dropdown-menu .dropdown-menu-anim-down.dropdown-menu-anim {
    -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-down .3s ease-out 1;
    animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-down .3s ease-out 1; }
	
.ew-list-option-body {
    vertical-align: top!important;
}

#signatureparent {
	height: 200px !important;
}
#signature {
	height: 150px !important;
}

body:not([data-bs-theme=dark]) .ew-grid {
	border-color: #a9a9a9 !important;
}

[data-bs-theme=light] .ew-grid-upper-panel.card-header,
[data-bs-theme=light] .ew-grid.ew-grid-upper-panel,
[data-bs-theme=light] .ew-grid-lower-panel.card-footer,
[data-bs-theme=light] .ew-grid.ew-grid-lower-panel,
[data-bs-theme=light] .query-builder {
    padding: 0.4rem 0.4rem;
    border-left: 0;
    border-right: 0;
    background: white;
}

[data-bs-theme=dark] div.card-header.ew-grid-upper-panel,
[data-bs-theme=dark] .ew-grid.ew-grid-upper-panel,
[data-bs-theme=dark] div.card-footer.ew-grid-lower-panel,
[data-bs-theme=dark] .ew-grid.ew-grid-lower-panel,
[data-bs-theme=dark] .query-builder {
    padding: 0.4rem 0.4rem;
    border-left: 0;
    border-right: 0;
    background-color: rgba(0, 0, 0, 0.03);
    color: #777c81;
}

[data-bs-theme=dark] .ew-pager {
	color: #777c81;
}

[data-bs-theme=dark] .ew-grid .ew-table > thead > tr > th,
[data-bs-theme=dark] .ew-grid .ew-table > thead > tr > td {
  font-weight: normal;
}

[data-bs-theme=dark] .fa-solid.fa-ellipsis-vertical.ew-icon {
	color: #f0f0f0;
}

[data-bs-theme=dark] .fc-list.fc-list-sticky.fc-listYear-view.fc-view,
[data-bs-theme=dark] .fc-list .fc-list-sticky.fc-listMonth-view.fc-view,
[data-bs-theme=dark] .fc-list .fc-list-sticky.fc-listDay-view.fc-view,
[data-bs-theme=dark] .fc .fc-list-empty{
	/* background-color: #343a40; */
	border: 1px solid #343a40;
    border-radius: 0;
    padding: 20px;
    position: relative;
}

[data-bs-theme=dark] .fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(255,220,40,.15) !important;
}

.fc-popover.popover.fc-more-popover.fc-day.fc-day-mon.fc-day-past > .fc-popover-header.popover-header {
	background-color: #dedede;
}

[data-bs-theme=dark] .fc-popover.popover.fc-more-popover.fc-day.fc-day-mon.fc-day-past > .fc-popover-header.popover-header {
	background-color: #343a40;
}

[data-bs-theme=dark] .fc-list-event-title {
	background-color: #212529;
}

[data-bs-theme=dark] .fc-theme-bootstrap5-shaded,
[data-bs-theme=dark] .fc-list-day-cushion.fc-theme-bootstrap5-shaded,
[data-bs-theme=dark] .fc-list-table {
	background-color: #212529;
}

[data-bs-theme=dark] .fc .fc-list-event td {
	background-color: #3a4047;
}

[data-bs-theme=dark] .fc .fc-list-event:hover td {
	background-color: #6c757d !important;
}

[data-bs-theme=dark] .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
	/* background-color: #454d55; */
}

[data-bs-theme=dark] .fc-scrollgrid.fc-scrollgrid-liquid,
[data-bs-theme=dark] .fc-theme-bootstrap5 .fc-list, 
[data-bs-theme=dark] .fc-theme-bootstrap5 .fc-scrollgrid, 
[data-bs-theme=dark] .fc-theme-bootstrap5 td, 
[data-bs-theme=dark] .fc-theme-bootstrap5 th {
	border-color: #6c757d;
}

[data-bs-theme=dark] .modal-header,
[data-bs-theme=dark] .modal-body,
[data-bs-theme=dark] .modal-footer {
	
}

[data-bs-theme=dark] .fc .fc-timegrid-slot,
[data-bs-theme=dark] .fc-daygrid-day {
	background-color: #454d55 !important;
}

[data-bs-theme=dark] .dropdown.ew-calendar-dropdown,
.dropdown.ew-calendar-dropdown {
	z-index: 999999
}

.popover-header,
.fc-popover-header.popover-header {
	border-radius: 0;
}

[data-bs-theme=dark] .fc-popover,
[data-bs-theme=dark] .popover,
[data-bs-theme=dark] .fc-popover-header.popover-header {
	background-color: #3a4047 !important;
	color: #dedede;
}

[data-bs-theme=dark] .ew-rpt-grp-field-1 {
	--bs-table-accent-bg: #3a4047;
}

[data-bs-theme=dark] .fc-popover-body.popover-body, 
[data-bs-theme=dark] .popover-body {
	color: #f6f6f6;
}

[data-bs-theme=dark] .ew-rpt-page-summary,
[data-bs-theme=dark] .ew-rpt-grand-summary {
	--bs-table-accent-bg: #212529 !important;
	color: #fff !important;
}

[data-bs-theme=light] body {
  background-color: #f5f5f5 !important;
}

/* Begin of added by Masino Sinaga, September 12, 2023 */
[data-bs-theme=dark] .table-bordered,
[data-bs-theme=dark] .table-bordered td,
[data-bs-theme=dark] .table-bordered th {
  border-color: #6c757d;
}
[data-bs-theme=dark] .table-hover tbody tr:hover {
  color: #dee2e6;
  background-color: #272a2e;
  border-color: #6c757d;
}
[data-bs-theme=dark] .table thead th {
  border-bottom-color: #6c757d;
}
[data-bs-theme=dark] .table th,
[data-bs-theme=dark] .table td {
  border-top-color: #6c757d;
}
[data-bs-theme=dark] .table.table-head-fixed thead tr:nth-child(1) th {
  background-color: #3f474e;
}

[data-bs-theme=dark] .table {
  --bs-table-color: #a9a9a9;
  --bs-table-bg: #212529;
  --bs-table-border-color: #6C757D;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #FFFFFF;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #FFFFFF;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #FFFFFF;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

[data-bs-theme=dark] [class*=sidebar-dark-] {
  border-right: inherit;
}

[data-bs-theme=dark] [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active, 
[data-bs-theme=dark] [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:hover, 
[data-bs-theme=dark] [class*=sidebar-dark-] .nav-treeview > .nav-item > .nav-link.active:focus {
  color: #fff !important;
}

/* End of added by Masino Sinaga, September 12, 2023 */
	
@-webkit-keyframes dropdown-menu-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes dropdown-menu-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
	
@-webkit-keyframes dropdown-menu-move-down {
  from {
    margin-top: -10px; }
  to {
    margin-top: 0; } }

@keyframes dropdown-menu-move-down {
  from {
    margin-top: -10px; }
  to {
    margin-top: 0; } }

@-webkit-keyframes dropdown-menu-move-up {
  from {
    margin-top: 10px; }
  to {
    margin-top: 0; } }

@keyframes dropdown-menu-move-up {
  from {
    margin-top: 10px; }
  to {
    margin-top: 0; } }
	
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 48px;
}

.theme-switch input {
  display: none;
}

.theme-slider {
  background-color: #fefefe; 
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.theme-slider:before {
  background-color: #c4c4c4;
  bottom: 2px;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  transition: 0.5s;
  width: 20px;
}

input:checked + .theme-slider {
  background-color: #4b545c;
}

input:checked + .theme-slider:before {
  transform: translateX(24px);
  background-color: #dedede;
}

.theme-slider.round {
  border-radius: 28px;
}

.theme-slider.round:before {
  border-radius: 50%;
}

.btn-sm, .btn-group-sm > .btn {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0;
}

.form-control::placeholder {
	color:#b2b2b2;
	opacity:0.3;
}

textarea::placeholder {
	color:#b2b2b2;
	opacity:0.3;
}

.select2-selection__placeholder{
	color:#b2b2b2;
	opacity:0.3;
}

.select2-container--bootstrap5 .select2-selection--multiple .select2-search__field {
    height: calc(1em + 0.1rem);
    padding-top: 0;
    margin: 0;
    line-height: 1;
    color: #212529;
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
	background: #b2b2b2;
}
.os-theme-light>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle {
    background: #eaeaea;
}
.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active {
    background: #a9a9a9;
}

[data-bs-theme=light] .ew-grid .ew-table.table-hover>tbody>tr:not(.expandable-body):hover>* {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: var(--bs-table-hover-bg);
}

